:root{
    --vermelho: #E50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 15px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times, serif;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #FFF;
}

/* Filme Princial */

.filme-principal{
    padding-left: 15px;
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.40),rgba(0,0,0,.40)100%) ,url('/Catalogo-SiriCast/img/capa-house.jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.filme-principal .botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.filme-principal .botao:hover{
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 8px;
    font-size: 1.2em;
}

.container {
    margin-left: 30px;
    margin-right: 10px;
}

.filme-principal .container {
    width: 70%;
}

.box-filme {
    width: 100%;
    height: 100%;
    display: block;
}